.content {
    position: relative;
    width: fit-content;
    block-size: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
}

.close:hover {
    cursor: pointer;
}

.img {
    width: 40%;
}